<h2 class="stateNameHeading">{{ stateName }}</h2>
<hr>
<div class="container">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Districts Name</th>
                <th class="text-center">Recovered</th>
                <th class="text-center">Active</th>
                <th class="text-center">Confirmed</th>
                <th class="text-center">Deaths</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let District of Districts">
                <td class="state_data">{{ District[0] }}</td>
                <td class="text-center">{{ District[1].recovered }}</td>
                <td class="text-center">{{ District[1].active }}</td>
                <td class="text-center">{{ District[1].confirmed }}</td>
                <td class="text-center">{{ District[1].deceased }}</td>
            </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>