    body{
        font-family: Poppins,sans-serif !important;
    }
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f8f9fa;
    }
    .state_data{
        /* text-decoration: underline; */
        /* padding: 0; */
        background: transparent;
        font-family: Poppins,sans-serif !important;
        letter-spacing: .77px;
    }
    .table>thead>tr>th{
        font-family: Poppins,sans-serif !important;
    }
    .table>tbody>tr>td{
        font-family: Poppins,sans-serif !important;
    }
    .state_info{
        font-family: Poppins,sans-serif !important;
    }
    .stateNameHeading{
        font-family: Poppins,sans-serif !important;
        letter-spacing: .77px;
    }