<div class="row">
    <div>
        <button class="btn btn-info" *ngIf="isAuthenticated" (click)="addNews()">Add News</button>
        <button class="btn btn-primary" *ngIf="!isAuthenticated" (click)="login()">Login</button>
        <button class="btn btn-danger" *ngIf="isAuthenticated" (click)=" logout()">Logout</button>
    </div>
</div>
<div class="row" *ngFor="let item of newsList">
    <div class="col-xs-12">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                {{ item.title }}
                </mat-card-title>   
                <mat-card-subtitle>
                {{ item.description }}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p [innerHtml]="item.content">   
                </p>
            </mat-card-content>
            <mat-card-footer>
              {{ item.dateAdded }}  
            </mat-card-footer>   	
        </mat-card>
        <hr>
    </div>  
</div>
